spring:
  datasource:
    username: root
    password: 514415
    url: jdbc:mysql://localhost:3306/mobile_sales?useSSL=false&serverTimezone=Australia/Sydney&useUnicode=true&characterEncoding=UTF-8

  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema.sql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect